.App {
  text-align: center;
}

html {
  background-color: #202734;
  color: #ffffff
}

nav {
  margin-right: 1em;
  display: flex;
}

nav a {
  box-shadow: inset 0 0 0 0 #ffffff;
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav a:hover {
  color: #293044;
  box-shadow: inset 200px 0 0 0 #ffffff;
}

.logo,
.logo-wrapper {
  height: 3.5em;
  margin-left: 1em;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293044;
  padding: 1.2em 5em 1.2em 5em;
  box-shadow: 0 2px 30px 0 rgba(0,0,0,.7)
}

.user-form-wrapper {
  max-width: 30%;
  min-width: 300px;
  padding: 100px 30px 50px 30px;
  margin: 50px auto;
  border-radius: 5px;
}

.user-form-layout-group {
  position: relative;
  margin-top: 30px;
}

.user-form-layout-label {
  display: block;
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
}

.user-form-layout-input {
  background-color: #202734;
  border-color: white;
  color: #ffffff;
}